<header class="p-3 header text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
             <ul class="nav col-6 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <label class="fa fa-home" style="font-size:30px;" (click)="home()"><label class="home">Home</label></label>
                </li>
            </ul>
            <button class="glow-on-hover mx-4" type="button" (click)="goToPortals()"><label class="home">Portals</label></button>
            <button class="glow-on-hover" type="button" (click)="goToLogin()"><label class="home">{{button}}</label></button>
        </div>
    </div>
</header>