<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4 offset-1 col-sm-2">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <!-- <li><a href="#">Menu</a></li> -->
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-7 col-sm-5">
        <h5>Our Address</h5>
        <address>
          University College Of Engineering Kakinada <br />
          JNTU Kakinada<br />
          AP-533003<br />
          Tel.:0884-777-2000 <br />
          Fax: +852 8765 4321<br />
          Email: <a href="mailto:projectreportjntuk@gmail.com">projectreportjntuk</a>
        </address>
      </div>
      <div class="col-12 col-sm-4 align-self-center">
        <div class="text-center">
          <a href="http://google.com/+" class="fa fa-google"></a>
          <a href="http://www.facebook.com/profile.php?id=" class="fa fa-facebook"></a>
          <a href="http://twitter.com/" class="fa fa-twitter"></a>
          <a href="http://youtube.com/" class="fa fa-youtube"></a>
          <a href="mailto:projectreportjntuk@gmail.com" class="fa fa-envelope"></a>
          <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <p>Copyright © 2022 Insurance Management System. </p>
        <p>&nbsp;&nbsp;&nbsp;All Rights Reserved</p>
      </div>
    </div>
    </div>
</footer>