<div class="form-v10">
	<div class="page-content">
		<div class="form-v10-content">
			<form class="form-detail was-validated" #pdrugFrom="ngForm" (ngSubmit)="load(pdrugFrom.value)">
				<div class="form-left">
					<h2>Drugs information</h2>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="text" name="patient_id" ngModel id="patient_id" class="input-text"
								placeholder="PatientId" required>
						</div>
						<div class="form-row form-row-2">
							<input type="text" name="doctor_id" ngModel id="doctor_id" class="input-text"
								placeholder="DoctorId" required>
						</div>
					</div>
					<div class="form-row ">
						<input type="text" name="patient_case_id" ngModel id="patient_case_id" class="input-text"
							placeholder="Patient case Id" required>
					</div>

					<div class="form-row ">
						<input type="text" name="hospital_id" ngModel id="hospital_id" class="input-text"
							placeholder="Hospital Id" required>
					</div>

					<div class="form-row ">
						<input type="text" name="prescription_id" ngModel id="prescription_id" class="input-text"
							placeholder="prescription Id" required>
					</div>
					<div class="form-row ">
						<!-- <label style="font: weight 1px;font-size:smaller" >&nbsp; date</label> -->
						<input type="date" name="prescribed_date" ngModel id="prescribed_date" class="input-text"
							placeholder="Date of Prescription" required>
					</div>
					<div class="form-row ">
						<input type="text" name="drug_id" [(ngModel)]="drug_id" id="drug-id" class="input-text"
							placeholder="Drug Id" required>
					</div>
					<div class="form-row ">
						<input type="text" name="drug_name" [(ngModel)]="drug_name" id="drug_name" class="input-text"
							placeholder="Drug Name" required>
					</div>
					<div class="form-row ">
						<input type="text" name="drug_type" [(ngModel)]="drug_type" id="drug_type" class="input-text"
							placeholder="Drug type" required>
					</div>
					<div class="form-row ">
						<input type="text" name="drug_dosage" [(ngModel)]="drug_dosage" id="drug_dosage"
							class="input-text" placeholder="Drug Dosage" required>
					</div>
					<div class="form-row ">
						<input type="number" name="no_of_times_a_day" [(ngModel)]="no_of_times_a_day"
							id="no_of_times_a_day" class="input-text" placeholder="Number of times a day" required>
					</div>
					<div class="form-row ">
						<input type="number" name="no_of_days" [(ngModel)]="no_of_days" id="no_of_days"
							class="input-text" placeholder="Number of days" required>
					</div>
					<div class="nice btn btn-success m-5" (click)="addTab()">Add Drug</div>
					<div class="d-grid gap-2">
						<button class="btn btn-primary register" type="submit">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<table class="table" *ngIf="drugs_in_list.length > 0">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th *ngFor="let name of drugName" scope="col">{{name}}</th>
			<th scope="col">modify</th>
			<th scope="col">modify</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let drug of drugs_in_list; let i = index">
			<td scope="col">{{i + 1}}</td>
			<td *ngFor="let name of dbDrugName" scope="col">{{drugs_in_list[i][name]}}</td>
			<td scope="col"><button (click)="removeDrug(i)">Remove</button></td>
			<td scope="col"><button (click)="updateDrug(i)">Update</button></td>
		</tr>
	</tbody>
</table>


<div class="m-5" *ngIf="prev.length && prev.length > 0">
	<h1>Previous Prescription</h1>
	<table class="table table-bordered border-primary">
		<thead>
			
			<tr>
				<th scope="col">#</th>
				<th scope="col">Prescription ID</th>
				<th scope="col">Drug ID</th>
				<th scope="col">Prescription Dosage</th>
				<th scope="col">Drug status</th>
				<th scope="col">No of Times a day</th>
				<th scope="col">No of days</th>
				<th scope="col">prescribed date</th>				
			</tr>
		</thead>
		<tbody>
		
			<tr scope="row" *ngFor="let inst of prev; let i = index;">
			     <th scope ="col">{{i + 1}}</th>
			     <th scope ="col">{{inst.prescription_id}}</th>
			     <th scope ="col">{{inst.drug_id}}</th>
			     <th scope ="col">{{inst.prescription_dosage}}</th>
			     <th scope ="col">{{0}}</th>
			     <th scope ="col">{{inst.no_of_times_a_day}}</th>
				 <th scope ="col">{{inst.no_of_days}}</th>
				 <th scope ="col">{{inst.prescribed_date}}</th>
			</tr>
		</tbody>
	</table>
</div>


<div class="m-5" *ngIf="cur.length && cur.length > 0">
	<h2>Current Prescription </h2>
	<table class="table table-bordered border-primary">
		<thead>
			
			<tr>
				<th scope="col">#</th>
				<th scope="col">Prescription ID</th>
				<th scope="col">Drug ID</th>
				<th scope="col">Prescription Dosage</th>
				<th scope="col">Drug status</th>
				<th scope="col">No of Times a day</th>
				<th scope="col">No of days</th>
				<th scope="col">prescribed date</th>
			</tr>
		</thead>
		<tbody>
			<tr scope="row" *ngFor="let inst of cur; let i = index;">
			     <th scope ="col">{{i + 1}}</th>
			     <th scope ="col">{{inst.prescription_id}}</th>
			     <th scope ="col">{{inst.drug_id}}</th>
			     <th scope ="col">{{inst.prescription_dosage}}</th>
			     <th scope ="col">{{inst.drug_status}}</th>
			     <th scope ="col">{{inst.no_of_times_a_day}}</th>
				 <th scope ="col">{{inst.no_of_days}}</th>
				 <th scope ="col">{{inst.prescribed_date}}</th>
			</tr>
		</tbody>
	</table>
</div>

<app-footer></app-footer>