
<app-header></app-header>

<main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
              <img src="..\assets\incom2.jpg" class="d-block w-100" alt="Sunset Over the City"/>
              <div class="carousel-caption d-none d-md-block">
                <h1 style="text-shadow:2px 2px saddlebrown;">Insurance companies</h1>
                <p style="text-shadow:2px 2px saddlebrown;">Your bridge to premier healthcare</p>
              </div>
            </div>
        
            <!-- Single item -->
            <div class="carousel-item">
              <img src="..\assets\hospital2.jpg" class="d-block w-100" alt="Canyon at Nigh"/>
              <div class="carousel-caption d-none d-md-block">
                <h1 style="text-shadow:2px 2px saddlebrown;">Multispeciality hospitals</h1>
                <p style="text-shadow:2px 2px saddlebrown;">Day to Day analysis with Specialized facilities</p>
              </div>
            </div>
        
            <!-- Single item -->
            <div class="carousel-item">
              <img src="..\assets\contus.jpg" class="d-block w-100" alt="Cliff Above a Stormy Sea"/>
              <div class="carousel-caption d-none d-md-block">
                <h1 style="text-shadow:2px 2px saddlebrown;">Contact us</h1>
                <p style="text-shadow:2px 2px saddlebrown;">Toll free- 1200 1200 1200<br>mail us at: starhealthinsurance@gmail.com</p>
              </div>
            </div>
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <svg width="300" height="220">
                    <defs>
                       <clipPath id="myCircle">
                          <circle cx="150" cy="125" r="80" fill="#FFFFFF" />
                       </clipPath>
                    </defs>
                    <image width="300" height="300" xlink:href="..\assets\in-logo.jpg" clip-path="url(#myCircle)" />
                 </svg>
                <h2>INSURANCE <br>COMPANIES</h2>

            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg width="300" height="220">
                    <defs>
                       <clipPath id="myCircle">
                          <circle cx="150" cy="125" r="80" fill="#FFFFFF" />
                       </clipPath>
                    </defs>
                    <image width="275" height="250" xlink:href="..\assets\hplogo.jpg" clip-path="url(#myCircle)" />
                 </svg>
                 <h2> MULTISPECIALITY HOSPITALS</h2>

            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg width="300" height="220">
                    <defs>
                       <clipPath id="myCircle">
                          <circle cx="150" cy="125" r="80" fill="#FFFFFF" />
                       </clipPath>
                    </defs>
                    <image width="320" height="250" xlink:href="..\assets\conlogo.jpg" clip-path="url(#myCircle)" />
                 </svg>
                <h2>CONTACT US</h2>
                <p>&nbsp;Toll-free: (+91)99999-99999</p>

            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
</main>
<app-footer></app-footer>